@import "./colors";
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300');

$font-size-large: 2rem;
$font-size-normal: 1.5rem;
$font-size-small: 0.5rem;

@mixin font-plex {
  font-family: 'IBM Plex Sans',
    sans-serif;
  font-weight: 300;
}

@mixin font-plex-mono {
  font-family: 'IBM Plex Mono',
    monospace;
  font-weight: 300;
}

@mixin font-large {
  font-size: $font-size-large;
}

@mixin font-normal {
  font-size: $font-size-normal;
}

@mixin font-small {
  font-size: $font-size-small;
}

* {
  color: $color-light;
  margin: 0;
  font-size: 12px;

  @include font-plex();

  .font-large {
    @include font-large();
  }

  .font-normal {
    @include font-normal();
  }

  .font-small {
    @include font-small();
  }

  a {
    text-decoration: none;
    @include font-normal();
  }

  code {
    @include font-plex-mono();
    @include font-normal();
  }
}
