@import "../../../../styles/styles.scss";

.col {
  padding: 1rem 0;
  text-align: center;

  width: 30rem;

  .heading {
    @include font-large();
    margin-bottom: 0.5rem;
  }

  .body {
    @include font-normal();

    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      @include font-normal();
    }
  }
}
