<nav class="footer">
  <div class="col">
    <h2 class="heading">Author</h2>

    <div class="body">
      <a href="https://github.com/GarrettManley">Garrett Manley</a>
    </div>
  </div>

  <div class="col">
    <h2 class="heading">ScrumEstimator</h2>

    <div class="body">
      <code>v{{ version }}</code>
    </div>
  </div>

  <div class="col">
    <h2 class="heading">Important Links</h2>

    <div class="body">
      <a href="https://github.com/GarrettManley/ScrumEstimator"> Repository </a>
      <a
        href="https://agileforall.com/new-to-agile-invest-in-good-user-stories/"
      >
        INVEST Criteria
      </a>
    </div>
  </div>
</nav>
