<nav class="footer">

  <scrum-est-footer-column header="Author">
    <a href="https://github.com/GarrettManley">Garrett Manley</a>
  </scrum-est-footer-column>

  <scrum-est-footer-column header="ScrumEstimator">
    <code>v{{ version }}</code>
  </scrum-est-footer-column>

  <scrum-est-footer-column header="Important Links">
    <a href="https://github.com/GarrettManley/ScrumEstimator"> Repository </a>
    <a href="https://agileforall.com/new-to-agile-invest-in-good-user-stories/"> INVEST Criteria </a>
  </scrum-est-footer-column>

</nav>
